header, footer, main, section {
	/* these are all block elements by default */
	border: 2px solid green;
}

/* a centered, fixed-width container */
div.container {
	width: 1000px;

	/* give equal margins on the left and right sides */
	margin-left: auto;
	margin-right: auto;
}

/* force the section to sit next to the main element */
section#left_nav {
	float: left;
	width: 196px;
}

section#right_rail {
	float: left;
	width: 296px;
}

/* force the main element to sit next to the section element */
main {
	float: left;
	width: 496px;
}

div.clear {
	clear: both;
}






