/* apply a few style rules to all h1 tags */

h1 {
	color: red;
	font-family: helvetica;
	background-color: yellow;
}

/* apply the same style rules for p and li tags */

p, li {
	font-size: 24px;
}

/* apply a font color just to p tags */
p {
	color: #505050;
}

/* apply the same style rules to links, including visited links */
a, a:visited {
	color: orange;
	text-decoration: overline;
}

/* apply a bolded color to links when the user hovers over them */
a:hover {
	color: red;
	text-decoration: underline;
} 


